mixin meta(title, slug, ogpImage)
  meta(charset="utf-8")
  title= title + " "

  meta(property="og:locale" content="ja_JP")
  meta(property="og:type" content="website")
  meta(property="og:url" content="http://designless.net/")
  meta(property="og:title" content="#{title}")
  meta(property="og:image" content="http://designless.net/images/ogp.png")
  meta(property="og:description" content="Naoki Kanazawa - Designer")
  meta(property="og:site_name" content="Naoki Kanazawa - Designer")

  meta(name="twitter:card" value="summary_large_image")
  meta(name="twitter:url" value="http://designless.net/")
  meta(name="twitter:title" value="#{title}")
  meta(name="twitter:site" value="@designless0")
  meta(name="twitter:creator" value="@designless0")
  meta(name="twitter:description" value="Naoki Kanazawa - Designer")
  meta(name="twitter:image" value="http://designless.net/images/ogp.png")

  meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=yes')

  link(rel="stylesheet" href="/app.css")
  link(rel="shortcut icon" href="/favicon.ico")