extends layouts/layout.jade

block vars
 - var title = 'Naoki Kanazawa'
 - var slug = 'top'

block contents
  main#about
    .row
      .columns.medium-5.small-12.medium-push-7.text-right
        figure
          img(src="images/logo.png", alt="")
      .columns.medium-7.small-12.medium-pull-5
        h1
          | Naoki Kanazawa
        h2
          | Designer at Life is Tech, Inc.

        .row
          .columns.small-12
            dl.work-list
              dt
                span
                  | Graphics
              dd
                ul.link-list
                  li
                    a(href="https://dribbble.com/shots/2382791-Life-is-Tech-Logo")
                      i.fa.fa-caret-right
                      | Life is Tech ! Logo
                  li
                    a(href="https://dribbble.com/shots/2899295-Life-is-Tech-School-Logo")
                      i.fa.fa-caret-right
                      | Life is Tech ! School Logo
                  li
                    a(href="https://dribbble.com/shots/2671561-Life-is-Tech-Leaders-Logo")
                      i.fa.fa-caret-right
                      | Life is Tech ! Leaders Logo
                  li
                    a(href="https://dribbble.com/shots/2387410-Code-Girls")
                      i.fa.fa-caret-right
                      | Code Girls Logo
                  li
                    a(href="https://dribbble.com/shots/2613302-Life-is-Tech-Next-World-white")
                      i.fa.fa-caret-right
                      | Next World

              dt
                span
                  | Slides
              dd
                ul.link-list
                  li
                    a(href="http://www.slideshare.net/kanazawanaoki/design-principles-46014564")
                      i.fa.fa-caret-right
                      | Principles of Design
                  li
                    a(href="http://www.slideshare.net/kanazawanaoki/by-life-is-tech")
                      i.fa.fa-caret-right
                      | Elements of Design
                  li
                    a(href="http://www.slideshare.net/kanazawanaoki/by-life-is-tech-48570283")
                      i.fa.fa-caret-right
                      | Ideas of Design
                  li
                    a(href="http://www.slideshare.net/kanazawanaoki/by-life-is-tech-49978914")
                      i.fa.fa-caret-right
                      | Methods of Design
                  li
                    a(href="http://www.slideshare.net/kanazawanaoki/github-how-to-pull-request")
                      i.fa.fa-caret-right
                      | How to Pull Request on GitHub
              dt
                span
                  | Websites
              dd
                ul.link-list
                  li
                    a(href="https://lifeistech.co.jp/")
                      i.fa.fa-caret-right
                      | Life is Tech ! Corporate
                  li
                    a(href="https://life-is-tech.com/")
                      i.fa.fa-caret-right
                      | Life is Tech ! Service
                  li
                    a(href="https://life-is-tech.com/codegirls/")
                      i.fa.fa-caret-right
                      | Code Girls
                  li
                    a(href="https://life-is-tech.com/etfes2015/")
                      i.fa.fa-caret-right
                      | Edu Tech Fes 2015
                  li
                    a(href="https://tech4teachers.jp/")
                      i.fa.fa-caret-right
                      | TECH for TEACHERS
                  li
                    a(href="http://editer.io/")
                      i.fa.fa-caret-right
                      | Editer.io
                  li
                    a(href="https://life-is-tech.com/it-literacy/")
                      i.fa.fa-caret-right
                      | IT literacy for Teens
              dt
                span
                  | Lesson
              dd
                ul.link-list
                  li
                    a(href="https://www.lynda.jp/trainers/naoki-kanazawa")
                      i.fa.fa-caret-right
                      | lynda.com
                  li
                    a(href="https://schoo.jp/teacher/125")
                      i.fa.fa-caret-right
                      | schoo

              dt
                span
                  | Blog
              dd
                ul.link-list
                  li
                    span.date
                      | 2016/12/03
                    br
                    a(href="/blog/2016/12/03/")
                      i.fa.fa-caret-right
                      | A Study of Adobe XD and Adobe Illustrator

    .row
      .columns.small-12
        ul.social-list
          li
            a(href="https://dribbble.com/designless0")
              i.fa.fa-dribbble
          li
            a(href="http://www.slideshare.net/kanazawanaoki")
              i.fa.fa-slideshare
          li
            a(href="https://github.com/designless")
              i.fa.fa-github-alt
          li
            a(href="https://www.facebook.com/kanazawa.naoki")
              i.fa.fa-facebook-official
          li
            a(href="https://twitter.com/designless0")
              i.fa.fa-twitter


